@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Text Color */
  --color-sec: #f0bbcf;
  --color-third: #A870AF;
  --text-black: rgba(0, 0, 0, 1);
  --text-gray: rgba(0, 0, 0, 0.7);
  --text-light: rgba(0, 0, 0, 0.5);
  /* BG Color */
  --bg-main: #fef3f6;
  /* Font Family */
  --font-main: "Montserrat";
  --font-sec: "Poppins";
}

header {
  width: 100%;
  flex-direction: column;
  position: fixed;
  z-index: 10;
  box-shadow: 1px 0 5px 4px rgba(0, 0, 0, 0.9);
}

.ads {
  width: 100%;
  background-color: #eaeaea;
  padding: 3px 10px;
}

.ads-navbar {
  margin: 0 auto;
  font-family: var(--font-sec);
  font-size: 13px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}

.ads-navbar-left {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 3px;
}

.ads-navbar-left-item {
  text-decoration: none;
  color: var(--text-light);
}

.ads-navbar-right {
  display: flex;
  gap: 15px;
  list-style-type: none;
}

.ads-navbar-right-item {
  text-decoration: none;
  color: var(--text-light);
}

.navbar {
  width: 100%;
  padding: 5px 10px;
  font-family: var(--font-main);
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--bg-main);
}

.nav-brand {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  gap: 5px;
  margin: 0 5px;
  z-index: 10;
}

.nav-brand h4 {
  width: 160px;
}

.navbar .nav-brand {
  text-decoration: none;
  color: black;
}

.nav-search {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-search input {
  width: 100%;
  height: 35px;
  padding: 0 40px 0 20px;
  font-family: var(--font-main);
  border: 1px solid var(--text-light);
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.nav-search input:focus {
  border: 1px solid pink;
}

.nav-search i {
  position: relative;
}

.nav-search-icon {
  position: absolute;
  right: 30px;
  color: var(--text-light);
}

.nav-right {
  padding: 0 5px 0 0;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-right div {
  display: flex;
  padding: 0 10px 0 0;
  gap: 10px;
}

.nav-right-item {
  text-decoration: none;
  color: var(--text-gray) !important;
  font-size: 14px;
  font-weight: 500;
}

.nav-right-item:hover {
  color: var(--text-black) !important;
}

.nav-right hr {
  height: 25px;
  width: 2px;
  background-color: var(--text-gray);
  margin: 0 5px 0 3px;
}

.nav-right-icon {
  display: flex;
}

.right-item-icon {
  text-decoration: none;
  color: var(--text-gray);
  margin: 5px;
}

.nav-bottom {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  width: 100%;
  background-color: var(--bg-main);
  position: absolute;
  bottom: 5px;
  padding-bottom: 5px;
  margin-bottom: -10px;
  font-family: var(--font-main);
  font-size: 13px;
}

.nav-bottom-list {
  display: flex;
  gap: 15px;
  padding-left: 255px;
}

.nav-bottom-item {
  text-decoration: none;
  color: var(--text-gray);
}

.nav-bottom-item:hover {
  color: var(--text-black);
}

.nav-address i {
  margin-right: 5px;
  color: var(--text-gray);
}

.alamat {
  font-weight: 600;
  margin-right: 30px;
}

/* Navbar Mobile */
.nav-mobile {
  display: none;
}

/* Main */
.card-main {
  padding-top: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--font-main);
}

.card-main-title {
  margin: 0 auto;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 1.8rem;
  position: relative;
}

.card-main-title::after {
  content: "";
  background-color: var(--color-sec);
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 22px;
}

.card-list {
  width: 1280px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
}

.card-item {
  position: relative;
  background-color: white;
  border-radius:10px;
  width: 300px;
  height: 440px;
  padding: 20px;
  margin-top: 12px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -ms-border-radius:10px;
  -o-border-radius:10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.card-item:hover {
  cursor: pointer;
}

.card-item img {
  width: 280px;
  margin: 0 auto;
  margin-top: -40px;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.card-item img:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.card-item span {
  font-size: 13px;
  color: var(--text-gray);
}

.card-item h2 {
  font-size: 15px;
}

.card-item p {
  width: fit-content;
  background-color: var(--bg-main);
  padding: 8px;
  position: absolute;
  bottom: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.card-item i {
  background-color: var(--bg-main);
  position: absolute;
  bottom: 15px;
  right: 20px;
  padding: 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: var(--bg-main);
  margin-top: 70px;
}




@media screen and (max-width: 768px) {
  header {
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.9);
  }

  .ads {
    display: none;
  }

  .navbar {
    padding: 10px 5px;
  }

  .nav-brand h4 {
    display: none;
  }

  .nav-brand img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .nav-right {
    width: fit-content;
  }

  .nav-right hr {
    display: none;
  }

  .nav-right-item {
    display: none;
  }

  .nav-bottom {
    display: none;
  }

  /* Navbar Mobile */
  .nav-mobile {
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 10;
    background-color: var(--bg-main);
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.3);
    width: 100%;
    font-family: var(--font-main);
  }

  .mobile-list {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
  }

  .mobile-list a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text-gray);
    font-size: 13px;
    gap: 3px;
    margin: 8px 0;
    font-weight: 500;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
  }

  .mobile-list i {
    font-size: 16px;
  }

  .mobile-list a:hover {
    color: var(--text-black);
  }
}

@media screen and (max-width: 480px) {
  .card-main {
    padding-top: 120px;
  }

  .card-main-title {
    font-size: 20px;
  }

  .card-list {
    width: 390px !important;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }

  .card-item {
    width: 180px !important;
    height: 270px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card-item img {
    width: 120px !important;
    margin: 0 auto;
    margin-top: -60px;
  }

  .card-item span {
    font-size: 11px;
  }

  .card-item h2 {
    font-size: 13px;
  }

  .card-item p {
    padding: 8px;
    font-size: 12px;
  }

  .card-item i {
    padding: 8px;
    font-size: 12px;
  }
}

@media screen and (max-width: 1300px) {
  .card-list {
    width: 1000px;
  }
}

@media screen and (max-width: 1024px) {
  .card-list {
    width: 800px;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 930px) {
  .nav-bottom-item:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 820px) {
  .nav-bottom-item:nth-child(3) {
    display: none;
  }
}

.active {
  color: var(--text-black) !important;
}
